<%- include ../partials/header %>
<%- include ../partials/main_nav %>

<main class="container">
    <% if(message.length > 0) { %>
        <div class="alert alter danger">
            <%= message %>
        </div>
    <%}%>
    <div class="row">
        <div class="offset-md-4 col-md-4 mt-4 text-center">
            <h1>Register</h1>
            <form method="post" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username"></label>
                    <input type="text" class="form-control"
                    name="username"
                    placeholder="Enter username"
                    id="username" required autofocus>
                </fieldset>
                <fieldset class="form-group">
                    <label for="password"></label>
                    <input type="password" class="form-control"
                    name="password"
                    placeholder="Enter password"
                    id="password" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="email"></label>
                    <input type="email" class="form-control"
                    name="email"
                    placeholder="Enter your email"
                    id="email" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="displayName"></label>
                    <input type="displayName" class="form-control"
                    name="displayName"
                    placeholder="Enter your display Name"
                    id="displayName" required>
                </fieldset>
                <fieldset class="form-group text-right mt-3">
                    <input type="submit" class="btn btn-success" value="Register">
                    <a href="/"></a>
                    <input type="button" class="btn btn-warning" value="Cancel">
                    <a href="/"></a>
                </fieldset>
            </form>
        </div>
    </div>
</main>

<%- include ../partials/footer %>

